.general {
    display: block;
    padding:100px
  }
.puntos {
    float: right;
    width: 800px;
    align-content: flex-end;
  }
.img{
    width: 90px;
    float: right;
  }
.general {
    background-color: brown;
  }